IMAGE_REPO=tacticalrmm/
VERSION=latest

# tactical credentials (Used to login to dashboard)
TRMM_USER=trmm-admin
TRMM_PASS=probably.MARCH.division

# optional web port override settings 
TRMM_HTTP_PORT=8080
TRMM_HTTPS_PORT=4443

# dns settings
APP_HOST=tactical.hp-ne.us
API_HOST=tacticalapi.hp-ne.us
MESH_HOST=tacticalmesh.hp-ne.us

# mesh settings
MESH_USER=trmm-mesh-admin
MESH_PASS=remember|SPEED|terms
MONGODB_USER=trmm-mongodb-admin
MONGODB_PASSWORD=heard_BICYCLE_pulled
MESH_PERSISTENT_CONFIG=0

# database settings
POSTGRES_USER=trmm-postgres-admin
POSTGRES_PASS=seven.ANGRY.details

# Lets Encrypt keys
CERT_PUB_KEY=LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUU0VENDQThtZ0F3SUJBZ0lTQkNyVXZZOVlPdDM2em9UemF5alF0ZU1kTUEwR0NTcUdTSWIzRFFFQkN3VUEKTURJeEN6QUpCZ05WQkFZVEFsVlRNUll3RkFZRFZRUUtFdzFNWlhRbmN5QkZibU55ZVhCME1R>CERT_PRIV_KEY=LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQzB2YSsxSVQ4VFU5YzIKaTB0RGdQZU0rVzNkUkVhUHVjZGd5dnA1bEJqY2JUanh6ajNycXVNMUUyOHVCOTJqbmF1TEV>CERT_PUB_KEY=LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUU0VENDQThtZ0F3SUJBZ0lTQkNyVXZZOVlPdDM2em9UemF5alF0ZU1kTUEwR0NTcUdTSWIzRFFFQkN3VUEKTURJeEN6QUpCZ05WQkFZVEFsVlRNUll3RkFZRFZRUUtFdzFNWlhRbmN5QkZibU55ZVhCME1R>
CERT_PRIV_KEY=LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JSUV2Z0lCQURBTkJna3Foa2lHOXcwQkFRRUZBQVNDQktnd2dnU2tBZ0VBQW9JQkFRQzB2YSsxSVQ4VFU5YzIKaTB0RGdQZU0rVzNkUkVhUHVjZGd5dnA1bEJqY2JUanh6ajNycXVNMUUyOHVCOTJqbmF1TEV>CERT_PUB_KEY=LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUU0VENDQThtZ0F3SUJBZ0lTQkNyVXZZOVlPdDM2em9UemF5alF0ZU1kTUEwR0NTcUdTSWIzRFFFQkN3VUEKTURJeEN6QUpCZ05WQkFZVEFsVlRNUll3RkFZRFZRUUtFdzFNWlhRbmN5QkZibU55ZVhCME1R>